@font-face {
  font-family: 'Zoho Puvi';
  src: url('/assets/fonts/ZohoPuvi/OpenType-TT/ZohoPuviThin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Zoho Puvi';
  src: url('/assets/fonts/ZohoPuvi/OpenType-TT/ZohoPuviExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Zoho Puvi';
  src: url('/assets/fonts/ZohoPuvi/OpenType-TT/ZohoPuviLight.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Zoho Puvi';
  src: url('/assets/fonts/ZohoPuvi/OpenType-TT/ZohoPuviRegular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Zoho Puvi';
  src: url('/assets/fonts/ZohoPuvi/OpenType-TT/ZohoPuviRegularItalic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Zoho Puvi';
  src: url('/assets/fonts/ZohoPuvi/OpenType-TT/ZohoPuviMedium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Zoho Puvi';
  src: url('/assets/fonts/ZohoPuvi/OpenType-TT/ZohoPuviSemibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Zoho Puvi';
  src: url('/assets/fonts/ZohoPuvi/OpenType-TT/ZohoPuviSemiboldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Zoho Puvi';
  src: url('/assets/fonts/ZohoPuvi/OpenType-TT/ZohoPuviBold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Zoho Puvi';
  src: url('/assets/fonts/ZohoPuvi/OpenType-TT/ZohoPuviBoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Zoho Puvi';
  src: url('/assets/fonts/ZohoPuvi/OpenType-TT/ZohoPuviExtrabold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Zoho Puvi';
  src: url('/assets/fonts/ZohoPuvi/OpenType-TT/ZohoPuviExtraback.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Zoho Puvi';
  src: url('/assets/fonts/ZohoPuvi/OpenType-TT/ZohoPuviBlack.ttf') format('truetype');
  font-weight: 950;
  font-style: normal;
}


body {
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Zoho Puvi';
}

.header {
    background-color: #141414;
    color: #A1A1AA;
    /* height: 70px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pilabzLogo {
    /* height: 70px; */
    width: 98px;
    padding: 20px;
    padding-left: 30px;
    display: inline-block;
    z-index: 1000;
    order: 1;
}

.dummyNavDiv {
    /* height: 70px; */
    width: 98px;
    padding: 20px;
    display: inline-block;
    z-index: 1000;
    order: 3;
}

/* NavBar */

nav {
    /* background: #ff7070; */
    /* padding: 12px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* font-family: "Roboto", serif; */
    font-optical-sizing: auto;
    font-style: normal;
    /* color: white; */
    font-size: 16px;
    font-weight: 400;
    font-variation-settings: "wdth" 100;
    /* letter-spacing: 2px; */
    width: 100%;
    z-index: 2000;
}

nav ul {
    display: flex;
    justify-content: space-around;
    width: 50%;
    margin: 0;
    list-style: none;
    order: 3;
}

nav a {
    color: #A1A1AA;
    text-decoration: none;
}

nav a.active {
    color: #FFFFFF;
    font-weight: 600;
}

.menuBar {
    /* float: right; */
    width: 7%;
    object-fit: scale-down;
    z-index: 3000;
}

.checkbtn {
    /* float: right; */
    cursor: pointer;
    height: 10px;
    display: none;
    z-index: 3000;
    order: 2;
}

#check {
    display: none;
}

/* Media Queries */

/* Responsive Design Tablet */
@media (max-width: 991px) {
    .pilabzLogo {
        /* height: 50px; */
        width: 68px;
        padding: 15px;
        padding-left: 22.5px;
        display: inline-block;
        z-index: 1000;
        order: 1;
    }

    nav {
        font-size: 13px;
    }

    nav ul {
    display: flex;
    justify-content: space-around;
    width: 50%;
    margin: 0;
    list-style: none;
    order: 3;
    }
}


/* Responsive Design Mobile */
@media (max-width: 768px) {

    .pilabzLogo {
        /* height: 50px; */
        width: 78px;
        padding: 10px;
        padding-left: 15px;
        display: inline-block;
        z-index: 1000;
        order: 1;
    }

    .dummyNavDiv {
        display: none;
    }

    nav {
        flex-wrap: wrap;
        font-size: 12px;
    }
    
    nav ul {
        display: none;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin: 0;
        /* margin-top: 180px; */
        margin-bottom: 10px;
        padding: 10px;
        order: 3;
        width: 100%;
        z-index: 3000;
    }
    
    nav ul li {
        display: block;
        padding: 5px;
    }
    
    .checkbtn {
        /* float: right; */
        cursor: pointer;
        display: block;
        /* width: 5%; */
        margin-right: 10px;
        z-index: 1000;
        order: 2;
    }
    
    #check:checked nav {
        display: flex;
        flex-direction: column;
    }

    #check:checked ~ ul {
        display: flex;
    }

    #check:checked nav {
        height: fit-content;
    }

}